/* common UI elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* start header elements */
header {
    background-color: #ff6800;
    box-shadow: -5px 5px 5px #dedede;
}

.header-container {
    width: 75%;
    margin: auto;
    height: 75px;
}

.container-link {
    padding: 0 10px;
}

.link {
    font-size: 13px;
    padding: 0 10px 0 10px;
    
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.logo {
    width: 140px;
}

.icon1 {
    width: 15px;
    margin: 0 5px 0 5px;
    filter: invert(1);
}

.icon2 {
    width: 20px;
    margin: 0 5px 0 5px;
    filter: invert(1);
}

.icon3 {
    width: 25px;
    margin: 0 5px 0 5px;
    filter: invert(1);
}

/* start main elements */
.container-main {
    width: 75%;
    margin: auto;
    padding-top: 80px;
}

.img1, .img2, .img3 {
    width: 460px;
    position: relative;
    display: block;
}

.img1b {
    width: 460px;
    position: absolute;
    display: none;
}

.container-img-1:hover .img1 {
    display: none;
}

.container-img-1:hover .img1b {
    display: block;
    position: relative;
}

.img2b {
    width: 460px;
    position: absolute;
    display: none;
}

.container-img-2:hover .img2 {
    display: none;
}

.container-img-2:hover .img2b {
    display: block;
    position: relative;
}

.img3b {
    width: 460px;
    position: absolute;
    display: none;
}

.container-img-3:hover .img3 {
    display: none;
}

.container-img-3:hover .img3b {
    display: block;
    position: relative;
}

.container-desc {
    width: 75%;
    margin: auto;
}

.container-desc1 {
    padding-right: 87px;
}

.container-desc2 {
    padding-left: 95px;
    padding-right: 87px;
}

.container-desc3 {
    padding-left: 265px;
}

#red {
    padding-right: 7px;
    color: red;
    font-size: large;
}

#sbarred {
    color: black;
    font-size: large;
    text-decoration: line-through;
}